<h1>Hotels</h1>

<% if @hotels.empty? %>
  <b>No hotels</b>
<% else %>
<table>
  <tr>
    <th>Title</th>
    <th>Cost</th>
    <th>Breakfast</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @hotels.each do |h| %>

    <tr>
      <td><%= link_to h.title, hotel_path(h)%></td>
      <td><%= h.cost %></td>
      <td><%= h.breakfast %></td>
      <td><%= h.description %></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

  <% end %>

</table>

<% end %>
 
